.services_text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Ser_items{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 450px;
    height: 200px;
    background-color: white;
    margin: 20px;
    padding: 20px;
}

.Ser_items img{
    width: 90px;
    height: 90px;
}

.services_text span{
    font-size: 30px;
    font-weight: 600;
}

.btn_right button{
    position: relative;
    bottom:0;
    right: 0;
    left: 200px;
}
