.casuol1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: last baseline;
    width: 400px
}
.casuol{
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.casuol_img img{
    .overlap{
        top: -30px;
    position: relative;
    left: 30px;
    }
}

.more{
    border: none;
    border-radius: 20px;
    padding: 15px;
    color: white;
    background-color: #008AC5;
    font-size: 15px;
}

.your{
    font-size: 60px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.wel{
    font-size: 25px;
    font-weight: 600;
    color:#008AC5;
    font-weight: 600;
}
